* {
    background-color: #eec7ef;
    font-family: Arial serif;
  }

h1 {
    color: #be32be;
    font-family: Georgia, serif !important;
}

h2 {
    color: #ca50ae;
    font-family: Georgia, serif !important;
}