* {
    background-color: #dfa5df;
    font-family: Arial serif;
  }

h1 {
    color: #fffdff;
    font-family: 'Yeseva One', cursive;
}

h2 {
    color: #d147b1;
    font-family: Georgia, serif !important;
}

.description {
    width: 600px;
}

.imageAndIngred2 {
    width: 600px;
}

.left {
    float: left;
    width: 600px;

}

.right {
    float: right;
    width: 600px;
}