* {
    background-color: #e2cce2;
    font-family: Arial serif;
  }

h1 {
    color: #be32be;
    font-family: 'Yeseva One', cursive;
}

h2 {
    color: #ca50ae;
    font-family: Georgia, serif !important;
}