body {
    background-color: #5ab181;
    margin: 30px;
    border-style:hidden;
    color: black;
    font-size:larger;
}

h1{
    color: white;
}

#imageAndText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: row;
    background-color: #109068;
}

 #me {
    border-radius: 100%;
    width: 200px;
} 

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    padding-left: 80px;
    padding-right: 80px;
}

.container :first-child{
    width:  500px;
}


.bucket {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    padding-left: 80px;
    padding-right: 80px;
}


/* .bucket :first-child{
    width:  500px;
} */

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;;
}

h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    color: azure;
}