body {
    background-color: rgb(212, 107, 107);
    margin: 15px;
    border-style: ridge;
}

#imageAndText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-direction: row;
    flex-wrap: wrap;
}

 #me {
    border-radius: 100%;
    width: 200px;
} 

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
}

#bucket {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;

}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#centerTitle {
    display: flex;
    justify-content: center;
}