.App {
  background-color: #a89de5;
  height: 900px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  padding: 25px;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}